<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775222505290-v3613mao11bc9o30hhlpmqn67aa2u3is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775222505290-v3613mao11bc9o30hhlpmqn67aa2u3is</string>
	<key>API_KEY</key>
	<string>AIzaSyB1n93e33a3xs6Lgan9tPYEQybnsX6ndLo</string>
	<key>GCM_SENDER_ID</key>
	<string>775222505290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-52108</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-52108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775222505290:ios:32dc1a549fbb08605b1bb3</string>
</dict>
</plist>